.container {
  min-height: 800px
}

.center {
  text-align: center !important;
}

#int{
    margin-right: 10px;
}

#dom{
    margin-right: 10px;
}
.col-sm-6 a img{
    width: 100%;
    height: 250px;
}

.icon{
    width: 25px;
    height: 25px;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
